<section class="section pointer" id="experience">
	<div class="container">
		<div class="row justify-content-center txt-bg txt-bg-experience">
			<div class="col-lg-6">
				<div class="wow fadeIn section-title text-center mb-4 pb-2">
					<div class="mb-5 pb-3">
						<i class="far fa-clone h1 text-muted"></i>
					</div>
					<h2 class="h3 font-weight-bold">My Experience</h2>
					<p class="text-muted mx-auto mb-0 mt-4 para-desc">
						Certifications and Work Profile
					</p>
				</div>
			</div>
		</div>
		<div class="row container-grid mt-4 pt-2">
			<div class="col-lg-12">
				<div class="experience-section">
					<i class="fas fa-laptop-code mt-5 font-size-50"></i>
					<div class="timeline mt-5">
						<div
							*ngFor="let ed of experienceData"
							class="wow timeline-box bounceIn{{
								ed['animationClass']
							}}"
							data-wow-delay="0s"
						>
							<div class="timeline-container">
								<h3
									class="experience-designation m-0 text-{{
										ed['textAlignment']
									}}"
								>
									{{ ed["designation"] }}
								</h3>
								<h4
									class="experience-company-name text-{{
										ed['textAlignment']
									}}"
								>
									{{ ed["companyname"] }}
								</h4>
								<h5
									class="experience-duration m-0 text-{{
										ed['textAlignment']
									}}"
								>
									{{ ed["duration"] }}
								</h5>
								<h6
									class="experience-description font-weight-normal text-{{
										ed['textAlignment']
									}}"
								>
									{{ ed["description"] }}
								</h6>
							</div>
						</div>
						<div id="timeline-divider">
							<div class="timeline-traveller">
								<i class="fas fa-plane font-size-25"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
